##################
# QoS Parameters # 
##################
###emulated_network="delay only" 
emulated_network="loss only"
###emulated_network="delay and loss"

##################
## NIC 1 Values ##  
##################
loss_percentage_1=50

##################
## NIC 2 Values ##  
##################
loss_percentage_2=50