##################
# QoS Parameters # 
##################
emulated_network="delay only" 
###emulated_network="loss only"
###emulated_network="delay and loss"

##################
## NIC 1 Values ##  
##################
delay_avg_1=100
delay_std_1=20
delay_dist_1="normal"

loss_percentage_1=50

##################
## NIC 2 Values ##  
##################
delay_avg_2=100
delay_std_2=20
delay_dist_2="normal"

loss_percentage_2=50