##################
# QoS Parameters # 
##################
emulated_network="delay only" 
###emulated_network="loss only"
###emulated_network="delay and loss"

##################
## NIC 1 Values ##  
##################
delay_avg=100
delay_std=20
delay_dist="normal"

loss_percentage=50

##################
## NIC 1 Values ##  
##################
delay_avg=100
delay_std=20
delay_dist="normal"

loss_percentage=50